#draggable {
 width: 320px;
 height: 180px; 
 padding: 0.5em;
 z-index: 10000; 
}
#videoChat {
 width: 320px;
 height: 180px; 
 padding: 0.5em;
 z-index: 10000; 
}
#call-option{
	position: absolute;
	width: 400px;
	top:40px;
	left:200px;
}