#draggable{
 width: 240px;
 height: 180px; 
 z-index: 10000; 
}
#draggable-me {
 width: 240px;
 height: 180px; 
 z-index: 10000; 
}
#video-display{
	width: 320px;
 	height: 180px; 
}
video{
	width: inherit;
	height: inherit;
}
#call-option{
	position: absolute;
	width: 400px;
	top:40px;
	left:200px;
}